.current-weather-container {
  display: grid;
  grid-template: min-content min-content 120px 120px / repeat(2, max-content);
  place-items: center;
  grid-template-areas: 
    "city-name city-name"
    "temperature temperature"
    "top-left top-right"
    "bottom-left bottom-right";
}

.info-box {
  padding: 20px;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.city-name {
  grid-area: city-name;
}

.current-temp {
  grid-area: temperature;
}

.container-tl {
  grid-area: top-left;
  border-right: 1px solid var(--off-white);
  border-bottom: 1px solid var(--off-white);
  width: 100%;
  height: 100%;
}

.container-tr {
  grid-area: top-right;
  border-left: 1px solid var(--off-white);
  border-bottom: 1px solid var(--off-white);
  width: 100%;
  height: 100%;
}

.container-bl {
  grid-area: bottom-left;
  border-right: 1px solid var(--off-white);
  border-top: 1px solid var(--off-white);
  width: 100%;
  height: 100%;
}

.container-br {
  grid-area: bottom-right;
  border-left: 1px solid var(--off-white);
  border-top: 1px solid var(--off-white);
  width: 100%;
  height: 100%;
}

.weather-icon {
  width: 3.5rem;
  /* place-self: center; */
}

.center {
  place-self: center;
}