.current-weather-container {
  display: grid;
  grid-template: min-content min-content min-content 120px / repeat(3, max-content);
  place-items: center;
  grid-template-areas: 
    "city-name city-name city-name"
    "temperature temperature temperature"
    "high-low high-low high-low"
    "left middle right"

}

.info-box {
  padding: 20px;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.city-name {
  grid-area: city-name;
}

.current-temp {
  grid-area: temperature;
}

.high-low {
  grid-area: high-low;
  font-size: 1rem;
  display: flex;
  gap: 25px;
  margin-bottom: 20px;
}

.container-left {
  grid-area: left;
  border-right: 1px solid var(--off-white);
  /* border-bottom: 1px solid var(--off-white); */
  width: 100%;
  height: 100%;
}

.container-middle {
  grid-area: middle;
  border-left: 1px solid var(--off-white);
  border-right: 1px solid var(--off-white);
  width: 100%;
  height: 100%;
}

.container-right {
  grid-area: right;
  border-left: 1px solid var(--off-white);
  /* border-top: 1px solid var(--off-white); */
  width: 100%;
  height: 100%;
}

/* .container-br {
  grid-area: bottom-right;
  border-left: 1px solid var(--off-white);
  border-top: 1px solid var(--off-white);
  width: 100%;
  height: 100%;
} */

.weather-icon {
  width: 3.5rem;
  /* place-self: center; */
}

.row-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.weather-icon.small {
  width: 2rem;
}

.center {
  place-self: center;
}