.hour-section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 80%;
}

.hour-section-wrapper > button {
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.hour-section-wrapper > button:active {
  transform: scale(0.7);
}

.hour-section-wrapper > button:hover .direction-icon {
  transform: scale(1.2);
}

.direction-icon {
  width: 4rem;
  transition: transform 0.2s ease-in-out;
}

.hour-card-container {
  border: 1px solid #fefefe;
  border-radius: 10px;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.hour-card-container::-webkit-scrollbar-track {
  appearance: none;
}

.hour-forecast-card {
  border: 1px solid #fefefe;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  min-width: 10rem;
}

.hour-icon-container {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: auto 0; */
}

.hour-icon {
  width: 4rem;
}

.hour-description {
  line-height: 1;
  font-size: 1rem;
  white-space: nowrap;
  /* word-wrap: none; */
}