@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import './formStyle.css';
@import './mainDisplay.css';

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --off-white: #fefefe
}

body {
  /* background-image: url('../assets/milad-fakurian-VbC-EiOTDqA-unsplash.jpg'); */
  background-image: url('../assets/taiki-ishikawa-hxYjU7HfcEo-unsplash.jpg');
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  font-size: 36px;
  font-family: 'Open Sans';
  color: var(--off-white);
  position: relative;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 100px 50px;
}